<!DOCTYPE html>
<html>
<head>
    <title>NGO Dashboard</title>
</head>

<body>

<h1>NGO Dashboard</h1>

{% for d in donations %}

<div style="border:1px solid black; padding:20px; margin:20px;">

    <h3>Food: {{ d.food }}</h3>

    <p>Quantity: {{ d.quantity }}</p>

    <p>Location: {{ d.location }}</p>

    <p>AI Recommended NGO:
        <b>{{ d.ngo }}</b>
    </p>

    <p>Status: {{ d.status }}</p>

    <a href="/accept/{{ d.id }}">
        <button>Accept Donation</button>
    </a>

</div>

{% endfor %}

</body>
</html>