<!DOCTYPE html>
<html>

<head>

    <title>Volunteer Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="volunteer-container">

    <h1>Volunteer Dashboard</h1>

    <div class="volunteer-card">

        <h2>Volunteer Information</h2>

        <div class="details">

            <p>
            <b>Name :</b> Rahul Sharma
            </p>

            <p>
            <b>Contact Number :</b> 9876543210
            </p>

            <p>
            <b>Vehicle Type :</b> Bike
            </p>

            <p>
            <b>Current Location :</b> JP Nagar, Bangalore
            </p>

            <p>
            <b>Assigned NGO :</b> Akshaya Patra Foundation
            </p>

        </div>

    </div>

    <div class="delivery-card">

        <h2>Pickup & Delivery Details</h2>

        <table>

            <tr>
                <th>Food</th>
                <th>Pickup</th>
                <th>Destination</th>
                <th>Status</th>
            </tr>

            <tr>

                <td>Biriyani</td>

                <td>Hulimavu</td>

                <td>Akshaya Patra NGO</td>

                <td>
                    <span class="delivery-status">
                        On The Way
                    </span>
                </td>

            </tr>

        </table>

    </div>

    <div class="tracking-card">

        <h2>Live Delivery Tracking</h2>

        <div class="progress-bar">

            <div class="progress"></div>

        </div>

        <p class="tracking-text">
        Volunteer is currently delivering the food
        to the NGO location.
        </p>

    </div>

</div>

</body>

</html>